<html>
    <html>
<style>
  h1 {
    text-align: center;
  }
  body{
    background-image:url("https://media.architecturaldigest.com/photos/59f1e889c3fb621c275f6c02/16:9/w_2580,c_limit/Wyoming%20-%20Courtesy%20of%20Trulia.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  p {
    text-align: center;
  }

  div {
    text-align: center;
  }
</style>

<head>
  <h1> URD-Broker </h1>
</head>
<div class="container">
    <body>
        <form action="/Rhome" method="post">
            <button type="submit">RENTER</button>
        </form>
            <form action="/Thome" method="post">
            <button type="submit">TENET </button>
            </form>
            </div>
    </body>
</html>