<html>
<style>
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  body{
    background-image:url("https://media.architecturaldigest.com/photos/59f1e889c3fb621c275f6c02/16:9/w_2580,c_limit/Wyoming%20-%20Courtesy%20of%20Trulia.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  p {
    text-align: center;
  }

  div {
    text-align: center;
  }
</style>

<head>
  <h1> URD-Broker </h1>
</head>
<head>
    <h2> TENENT </h2>
  </head>
  
<body>
  <p>
    Welcome to URD-Broker, Rent a House without any Middle Man
  </p>
  <form action="/Tlogin" method="post">


    <div class="container">
      <label for="Username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required><br>
      <br>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required><br>
      <br>
      <button type="submit">Login</button>
      <button onclick="location.href='http://127.0.0.1:2023/Signup'" type="button">Sign up</button>
      <button type="submit" onclick="location.href='http://127.0.0.1:2023'">BACK</button>
    </div>
  </form>
</body>
</html?